
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path "homepage_banner.jpg", height: 300, width: 400, crop: :fill %>')">
  All ads
</div>


  <%= simple_form_for :category_id, url: ads_path, method: :get, class: "simple_form search" do |f|%>
    <div class="search-form-control form-group my-3">
        <%= f.input :category_id, placeholder: "catégories", collection: Ad::CATEGORIES %>
        <button name="button" type="submit" class="btn btn-flat mt-4">
          <i class="fas fa-search"></i> Search
        </button>
    </div>
  <% end %>




  <div class="row">
    <% @ads.each do |ad| %>
      <div class="col-12 col-sm-6 col-md-4 my-3">
        <%= link_to root_path(:id), style:"text-decoration: none" do %>
          <div class="card-product">
            <%= cl_image_tag ad.photos.first.key, height: 300, width: 400, crop: :fill %>
            <div class="card-product-infos">
              <h2> <%= ad.name %> </h2>
              <p> <%= ad.category %> </p>
              <p><%= ad.description %> <strong>relevant info</strong> only.</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
