<div class="banner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path "homepage_banner.jpg" %>')">
  <h1 class="text-center" >Du matériel à portée de main !</h1>
    <div>
      <%= form_with url: ads_path, method: :get, class: "d-flex" do |f| %>
        <%= f.select :category, Ad::CATEGORIES %>
        <%= f.text_field :query,
          class: "form-control",
          placeholder: "Je recherche..."
        %>
        <%= button_tag(type: "submit", class: "btn btn-search") do %>
           <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
</div>

<div class="container" style="min-height: 60vh">

  <div data-controller="map" class="mt-5 w-100" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <button data-action="click->map#fire" class="btn btn-dark start-50 translate-middle position-fixed bottom-0" style="z-index:2;">Afficher la carte</button>
    <div data-map-target="mapElement" class="d-none" style="width: 100%; height: 600px;">
      </div>
  </div>

    <div class="row">
      <% @ads.each do |ad| %>
        <div class="col-12 col-sm-6 col-md-4 my-3">
          <%= link_to ad_path(ad), style:"text-decoration: none" do %>
            <div class="card-product my-2">
              <% if ad.photos.first %>
                <%= cl_image_tag ad.photos.first.key %>
              <% else %>
                <img src="https://source.unsplash.com/random/?Dog/" alt="", height=300, width=400>
              <% end %>
              <div class="card-product-infos">
                <h2><%= ad.name %></h2>
                <p><%= ad.description.truncate(50) %> <strong>voir plus.</strong></p>
                <div class="d-flex justify-content-between">
                  <p><strong> <%= ad.price %> €</strong></p>
                  <p><span class="badge bg-secondary"><%= ad.category %></span></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
