<h2>Créer une annonce</h2>
<div>
  <%= simple_form_for(@ad) do |f| %>
    <%= f.input :name %>
    <%= f.input :category, collection: Ad::CATEGORIES %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :availability, as: :date %>
    <%= f.button :submit, "Create", class:"btn btn-dark" %>
  <% end %>
</div>
<br>
<div>
  <%= link_to "Back to Ads", ads_path, class:"btn btn-outline-dark" %>
</div>
