<div class="container-form">

  <h5><i class="fa-solid fa-circle-plus"></i> Créer mon annonce</h5>
  <br>
  <div>
    <%= simple_form_for(@ad) do |f| %>
      <%= f.input :name %>
      <%= f.input :category, collection: Ad::CATEGORIES %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :availability, as: :date %>
      <div class="text-center"> <%= f.button :submit, "C'est parti !", class:"btn-blue" %></div>
    <% end %>
  </div>
  <br>
  <div class="text-center">
    <%= link_to "Toutes les annonces", ads_path, class:"btn btn-sm link-ads" %>
  </div>

</div>
