<div class="container_show">
  <div class="card-body">
    <div class="show_title"><%= @ad.name %></div>
    <div class="d-flex">
      <% @ad.photos.each do |photo| %>
        <%= cl_image_tag photo.key, class:"photo-ad" %>
      <% end %>
      <div class="m-2">
      <p><strong>Category : </strong> <%= @ad.category %></p>
      <p><strong>Description : </strong> <%= @ad.description %></p>
      <p><strong>Address : </strong><%= @ad.address %></p>
      <p><strong>Price per day :</strong><%= @ad.price %> €</p>
      </div>
    </div>
  </div>
  <br>
  <p><strong>Book it !</strong></p>
  <%= render 'shared/form' %>
  <br>
  <div>
  <%= link_to "Back to Ads", ads_path, class:"btn btn-outline-dark" %>
  </div>
</div>
