

<div class="container_show">
  <div class="card-body">
    <div class="show_title"><%= @ad.name %></div>
    <div class="d-flex">
      <%= (cl_image_tag @ad.photos.first.key, class:"photo-ad") %>
      <div class="m-2">
      <p><strong>Category : </strong> <%= @ad.category %></p>
      <p><strong>Description : </strong> <%= @ad.description %></p>
      <p><strong>Address : </strong><%= @ad.address %></p>
      <p><strong>Price per day :</strong><%= @ad.price %> €</p>
      </div>
    </div>
  </div>
  <br>
  <%= render 'bookings/form' %>
  <br>
  <div>
  <%= link_to "Back to Ads", ads_path, class:"btn btn-outline-dark" %>
  </div>
</div>
