<div class="container">

  <div class="d-flex p-2">
  <div class="col-2">
    <%= current_user.first_name %>
    <%= current_user.last_name %>

  </div>
    <div class="col-5">
      <h2 class="text-center">My ads</h2>
      <br>
      <div >
        <% @ads.each do |ad| %>
          <div class="card-product">
              <% ad.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>

            <div class="card-product-infos">
              <h2> <%= ad.name %> </h2>
              <p> <%= ad.category %> </p>
              <p><%= ad.description %> <strong>relevant info</strong> only.</p>
            </div>
          </div>

         <br>
        <% end %>
      </div>
    </div>

    <ol class="col-5">
      <h2 class="text-center">My bookings</h2>
      <br>
      <div>
        <% @bookings.each do |booking| %>
          <div class="card-product">

            <div class="card-product-infos">
              <h2>Ad reference: #<%= booking.ad_id %></h5>
              <p>Status: <% if booking.status %>
                <%= "Confirmed" %>
                <% else %>
                <%= "Pending" %>
                <% end %>
              </p>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </ol>
  </div>

</div>
