<div class="container">

  <div class="d-flex p-2">
    <div class="col col-3">
      <div class="panel space-2 m-2">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/C%C3%A9line_Dion_en_2013_%28cropped%29.JPG/1024px-C%C3%A9line_Dion_en_2013_(cropped).JPG", class: "rounded mx-auto d-block", style: "height: 150px" %>
        <br>
        <div class="panel-body">
          <strong><div class="text-center text-wrap fs-5 mb-2"><%= current_user.first_name %></div></strong>
          <div class="text-center text-wrap fs-8"><i class="fa-regular fa-envelope"></i><%= current_user.email %></div>
        </div>

        <br>
        <h5 class="text-center text-wrap fs-5 m-3"><strong>My posted ads</strong></h5>
        <div >
          <% @ads.each do |ad| %>
            <div class="panel-body mt-2">
              <div class="card">
                <% ad.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, crop: :fill %>
                  <% end %>

                <div class="card-body">
                  <h5 class="card-title"><%= ad.name %></h5>
                  <p class="card-text"><%= ad.category %>.</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-5 m-2">
      <h2 class="text-center">Pending approvals</h2>
      <br>
        <div>
          <% @pending_requests.each do |booking| %>
            <div class="card-product">
              <% booking.ad.photos.each do |photo| %>
                <%= cl_image_tag photo.key, crop: :fill %>
                <% end %>

              <div class="card-product-infos">
                <h2><%= booking.ad.name %></h2>
                <p><%= booking.ad.category %>.</p>
              </div>
            </div>
          <% end %>
        </div>
    </div>

    <div class="col-5 m-2">
      <h2 class="text-center ">My booking requests</h2>
      <br>
        <div>
          <% @bookings.each do |booking| %>
            <div class="card-product my-2">
             <% booking.ad.photos.each do |photo| %>
                <%= cl_image_tag photo.key, crop: :fill %>
                <% end %>

              <div class="card-product-infos">
                <h2>Ad reference: #<%= booking.ad_id %></h5>
                <p>Status: <% if booking.status %>
                  <%= "Confirmed" %>
                  <% elsif booking.status == nil %>
                  <%= "Pending" %>
                  <% else %>
                  <%= "Refused" %>
                  <% end %>
                </p>
                <p><%= booking.ad.description %></p>
                <p><%= booking.ad.name %></p>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>

</div>
