<div class="container mt-0">
  <div class="d-flex dashboard-style">
    <div class="dashboard-user-bar flex-fill">
      <div class="text-center ms-3">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/C%C3%A9line_Dion_en_2013_%28cropped%29.JPG/1024px-C%C3%A9line_Dion_en_2013_(cropped).JPG", class: "avatar-large" %>
      </div>
      <div class="flex-grow-1">
        <strong><div class="text-start text-wrap fs-5 mx-3"><%= current_user.first_name %>  <i class="fa-solid fa-circle-check" style="color: #1cb51c;"></i></div></strong>
        <div class="text-start text-wrap fs-6 ms-3 me-2"><i class="fa-regular fa-envelope me-2"></i><%= current_user.email %></div>
      </div>
      <div>
        <div class="text-start text-wrap fs-6 mx-3"><%= @ads.count %> annonces</div>
        <div class="text-start text-wrap fs-6 mx-3">
          <% @ads.each do |ad| %>
            <% ad.bookings.each do |booking| %>
              <% if booking.status == true %>
                <% @pending_bookings << booking %>
              <% end %>
            <% end %>
            <% @pending_bookings %>
          <% end %>
        <%= @pending_bookings.count %> demandes en attente
        </div>
        <div class="text-start text-wrap fs-6 mx-3"><%= @bookings.count %> réservations</div>
      </div>
    </div>
  </div>

  <div class="container-fluid justify-content-center ">

    <div class="d-flex justify-content-center">

      <div class="col col-4 m-2 dashboard-style">
        <h4 class="text-center m-3 dashboard-style title-category">Annonces</h4>
          <div>
            <% @ads.each do |ad| %>
              <div class="card-product my-2">
                <% ad.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, crop: :fill %>
                <% end %>
                <%= link_to ad_path(ad), style:"text-decoration: none" do %>
                <div class="card-product-infos">
                  <h2 class="card-title"><%= ad.name %></h2>
                    <p class="card-text"><strong>Réservations -</strong> <%= ad.bookings.count %></p>
                    <p class="card-text"><strong>Catégorie -</strong> <%= ad.category %></p>
                <% end %>
                </div>
              </div>
            <% end %>
          </div>
      </div>

      <div class="col-4 m-2 dashboard-style">
        <h4 class="text-center m-3 dashboard-style title-category" >Demandes de réservations</h4>
          <div>
            <% @ads.each do |ad| %>
              <% ad.bookings.each do |booking| %>
                <% if booking.status != false %>
                  <div class="card-product my-2" >
                    <%= cl_image_tag booking.ad.photos.first.key, crop: :fill %>
                    <%= link_to ad_path(booking.ad), style:"text-decoration: none" do %>
                      <div class="card-product-infos">
                        <h2 class="card-title"><%= booking.ad.name %></h2>
                          <p class="card-text"><strong>Statut -</strong>
                            <% if booking.status %>
                              <%= "Confirmed" %>
                            <% elsif booking.status == nil %>
                              <%= "Pending" %>
                            <% end %></p>
                          <p class="card-text"><strong>Catégorie -</strong> <%= booking.ad.category %></p>
                      </div>
                    <% end %>
                    <div class="card-text-end p-2">
                      <% if booking.status %>
                        <% accept_path(booking) %>
                      <% elsif booking.status == nil %>
                        <%= button_to "Accept", accept_path(booking), :class => "btn btn-blue btn-sm my-1" %>
                        <div class="text-center"><%= button_to "Decline", decline_path(booking), :class => "btn btn-red btn-sm my-1" %></div>
                      <% else %>
                        <% decline_path(booking) %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
      </div>

      <div class="col-4 m-2 dashboard-style">
        <h4 class="text-center m-3 dashboard-style title-category">Réservations</h4>
          <div>
            <% @bookings.each do |booking| %>
              <div class="card-product my-2">
                <% booking.ad.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, crop: :fill %>
                <% end %>
                <%= link_to ad_path(booking.ad), style:"text-decoration: none" do %>
                <div class="card-product-infos">
                  <h2><%= booking.ad.name %></h2>
                    <p><strong>Statut -</strong> <% if booking.status %>
                      <%= "Confirmed" %>
                      <% elsif booking.status == nil %>
                      <%= "Pending" %>
                      <% else %>
                      <%= "Refused" %>
                    <% end %>
                    </p>
                    <p><strong>Catégorie - </strong><%= booking.ad.category %></p>
                </div>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
    </div>

  </div>
</div>
